<div class="panel"  role="tabpanel" >

    <header class="view_header">
        <div class="header_content">
            <h1>
                <span class="simple_content">Upcoming</span>
            </h1>
            <div class="header_actions">
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-sort"></i>
                    </span>
                    <span class="action_label">Sort</span>
                </button>
            </div>
        </div>
    </header>
    
    <div class="week-nav">
        <button type="button" class="nav_button" (click)="prevPage()">
            <span class="icon">
                <i class="fa fa-arrow-left"></i>
            </span>
            <span>Previous Week</span>
        </button>
        <button type="button" class="nav_button right_nav_button" (click)="nextPage()">
            <span>Next Week</span>
            <span class="icon">
                <i class="fa fa-arrow-right"></i>
            </span>
        </button>
    </div>

    <div class="tasks_content">
        <ul class="task_list_items">

            <ng-container *ngIf="overdue.length>0">
                <div class="section_header">
                    <h2><span>Overdue</span></h2>
                    <div class="section_header__actions">
                        <button class="reschedule__button" (click)="openSelectDateModal()">Reschedule</button>
                    </div>
                </div>

                <app-task-daily-list [tasks]="overdue" [overdue]="true" (closeAddForm)="closeAddTaskForm()" (dragStart)="onDragStart()"></app-task-daily-list>
            </ng-container>

            <ng-container *ngFor="let day of tasks">
                <li class="section_header" [class.empty]="day.tasks.length == 0">
                    <h2 (click)="collapse(day)"><span>{{day.date | date: 'dd MMM YYYY ‧ EEEE'}}</span></h2>
                </li>

                <app-task-daily-list *ngIf="!day.collapsed" [tasks]="day.tasks" [dnd]="activateDragNDrop" (closeAddForm)="closeAddTaskForm()" [multi]="day.date" (dragEnd)="onDragEnd()" (dragStart)="onDragStart()"></app-task-daily-list>
                <li *ngIf="!day.collapsed">
                    <button type="button" class="plus_add_button" *ngIf="showAddTaskForm != day.id" (click)="openAddTaskForm(day.id)">
                        <span class="icon_add">
                            <i class="fa fa-plus"></i>
                        </span>
                        Add task
                    </button>
    
                    <app-task-form *ngIf="showAddTaskForm == day.id" (closeEvent)="closeAddTaskForm()" [date]="day.date"></app-task-form>
    
                </li>
            </ng-container>

        </ul>
    </div>

</div>


<app-date-dialog *ngIf="showSelectDateModal" (closeEvent)="closeSelectDateModal($event)" (cancelEvent)="cancelDateSelection()"></app-date-dialog>
