.modal {
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.modal-dialog.modal-shadow {
    box-shadow: 0 15px 50px 0 rgba(0,0,0,.35);
}

.modal-button {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #202020; 
    text-decoration: none;
    text-align: center;
    transition-property: box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-left: 10px;
}

.modal-button:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.modal-button-red {
    color: #fff;
    background-color: #db4c3f;
    text-shadow: none;
    border: 1px solid transparent;
}

.modal-button:disabled {
    opacity: .3;
}

.modal .form-field {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.modal .form-field label {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: 0 0 7px;
}

.modal .form-field input {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    transition-property: box-shadow,border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.modal .form-field input:focus {
    border: 1px solid grey;
}

.modal .form-field-inline {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
    margin: 0 0 7px;
}

.modal .form-field-inline label {
    font-weight: normal;
    display: block;
}

.modal-header {
    position: relative;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
}

.modal-header h4 {
    font-size: 16px;
    font-weight: 700;
}

.modal-body {
    background-color: #fff;
    color: #333;
}

.modal-body ul {
    list-style: none;
    padding: 0 20px;
}

.modal-body form {
    padding: 0 20px;
}

.modal-body form input {
    width: 100%;
}

.modal-body ul li {
    display: flex;
}

.modal-body ul li button {
    display: flex;
    align-items:center;
    padding: 0;
    margin: 0;
    flex: 1;
}

.modal-body ul li button:hover {
    background-color: #eee;
}

.modal-body ul li .menu-icon {
    color: grey;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body ul li .menu_label {
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    width: 100%;
}


.modal-body ul li .date_holder {
    font-size: 13px;
    color: grey;
}

.modal-body ul li .menu-icon-select {
    color: #dd4b39;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-button {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #202020; 
    text-decoration: none;
    text-align: center;
    transition-property: box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-left: 10px;
}

.modal-button:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.modal-button {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #202020; 
    text-decoration: none;
    text-align: center;
    transition-property: box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-left: 10px;
}

.modal-button:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.modal-button-red {
    color: #fff;
    background-color: #db4c3f;
    text-shadow: none;
    border: 1px solid transparent;
}

.modal-button:disabled {
    opacity: .3;
}

.modal .form-field {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.modal .form-field label {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: 0 0 7px;
}

.modal .form-field input {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    transition-property: box-shadow,border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.modal .form-field input:focus {
    border: 1px solid grey;
}

.modal-header {
    position: relative;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
}

.modal-header h4 {
    font-size: 16px;
    font-weight: 700;
}

.modal.modal-background {
    background-color: rgba(0,0,0,.5);
}

.modal .switch {
    position: relative;
    display: inline-block;
    overflow: visible;
    margin-right: 10px;
    width: 32px;
    height: 18px;
    min-height: auto;
    border-radius: 9px;
    background-color: #aaa;
    cursor: pointer;
    flex-shrink: 0;
}

.modal .switch .switch-handle {
    position: absolute;
    display: block;
    padding: 0;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    transition: left .28s cubic-bezier(.4,0,.2,1);
}

.modal .switch-checked {
    background-color: #058527;
}

.modal .switch-checked .switch-handle {
    left: 17px;
}

.color-picker {
    display: flex;
    align-items: center;
    position: relative;
}

.color-picker .color-span {
    position: absolute;
    left: 5px;
    top: 50%;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.color-picker input {
    margin: 0;
    padding: 5px 0 5px 34px !important;
}

.color-button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.colors {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}