@import '../../common/css/modal.css';


.collab-list ul {
    list-style: none;
    margin: 0;
    padding: 0 20px;
}

.collab-list ul li {
    margin: 0;
    padding: 0;
    display: flex;
}

.collab-list h5 {
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
}

.collab-list {
    padding: 0 20px;
    margin-bottom: 10px;
}

.permission {
    color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 5px;
}

.permission.permitted {
    color: black;
}

button.permission:hover {
    color: rgb(110, 110, 110);
    background-color: transparent;
}

button.permission.permitted:hover {
    color: rgb(65, 64, 64);
}

.cancel-button {
    margin-right: 5px;
}

.cancel-button:hover {
    background-color: transparent;
    color: rgb(65, 64, 64);
}

.right-button {
    display: flex;
    justify-content: flex-end;
}
