<div class="modal modal-background"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Collaborators</h4>
        <i class="fa fa-question fa-circle"></i>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="addCollabForm">
            <div class="form-field">
                <label for="projectName">Collaboration token</label>
                <input class="form-control mr-sm-2" placeholder="" id="id" formControlName="token">
            </div>

            <div class="form-field-inline">
              <div class="switch" [class.switch-checked]="edit" (click)="switchEdit()">
                  <span class="switch-handle"></span>
              </div>
              <label>
                  Can edit tasks
              </label>
            </div>

            <div class="form-field-inline">
              <div class="switch" [class.switch-checked]="complete" (click)="switchComplete()">
                  <span class="switch-handle"></span>
              </div>
              <label>
                  Can complete tasks
              </label>
            </div>
            
            <div class="right-button">
              <button type="button" class="modal-button modal-button-red" 
              (click)="addCollaborator()" [disabled]="addCollabForm.invalid">
                  Add
              </button>
            </div>
        </form>  
      </div>
      <div class="collab-list">
        <h5>Already added</h5>

        <ul class="user-list" >
          <li *ngFor="let collab of collaborators">                
              <button type="button" class="cancel-button" (click)="deleteCollaborator(collab.owner.id)">
                <i class="fa fa-times-circle-o"></i>
              </button>       
              {{collab.owner.username}}
              <div class="permission permitted">
                <i class="fa fa-eye"></i>
              </div>
              <button class="permission" [class.permitted]="collab.editionAllowed" (click)="changeEdit(collab)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="permission"  [class.permitted]="collab.taskCompletionAllowed" (click)="changeComplete(collab)">
                <i class="fa fa-check"></i>
              </button>   
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" 
                (click)="close()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>