button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.taskForm {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 0;
    cursor: text;
}

.taskFormInputsHolder {
    display: flex;
    flex-direction: column;
}

.taskFormInputsHolder input {
    border: none;
    margin: 8px 0 0;
    padding: 1px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}

.taskFormInputsHolder input:focus {
    outline: none;
}

.taskFormInputsHolder textarea:focus {
    outline: none;
}

.taskFormInputsHolder input::placeholder {
    color: rgba(0,0,0,.4);
    opacity: 1;
}

.taskFormInputsHolder textarea::placeholder {
    color: rgba(0,0,0,.4);
    opacity: 1;
}

.taskFormInputsHolder textarea {
    border: none;
    resize: none;
    margin: 8px 0 0;
    padding: 1px;
    width: 100%;
    height: 36px;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
}

.taskFormExtraColor {
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: currentColor;
	border-radius: 50%;
    margin-right: 8px;
    margin-left: 4px;
}

.taskFormInbox {
    margin-right: 8px;
    margin-left: 4px;
}

.taskFormExtraButton {
    display: flex;border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    color: #555;
    flex-shrink: 0;
    font-size: 13px;
    margin-right: 8px;
}

.taskFormExtraIcon {
    margin-right: 8px;
}

.taskFormExtraFields {
    display: flex;
}

.taskFormExtra {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.taskFormExtraActions {
    display: flex;
}

.taskFormExtraActions .itemAction {
    color: grey;
}

.taskFormButton {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #202020; 
    text-decoration: none;
    text-align: center;
    transition-property: box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-right: 10px;
}

.taskFormButton:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.taskFormButtonRed {
    color: #fff;
    background-color: #db4c3f;
    text-shadow: none;
    border: 1px solid transparent;
}

.taskFormButton:disabled {
    opacity: .3;
}

.taskFormButtons {
    margin-top: 5px;
}

.taskFormContainer {
    margin: 8px 0;
}


.modal-body {
    background-color: #fff;
    color: #333;
}

.modal-body ul {
    list-style: none;
    padding: 0 20px;
}

.modal-body form {
    padding: 0 20px;
}

.modal-body form input {
    width: 100%;
}

.modal-body ul li {
    display: flex;
}

.modal-body ul li button {
    display: flex;
    align-items:center;
    padding: 0;
    margin: 0;
    flex: 1;
}

.modal-body ul li button:hover {
    background-color: #eee;
}

.modal-body ul li .menu-icon {
    color: grey;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body ul li .menu_label {
    font-size: 13px;
    display: flex;
    align-items: flex-start;
    width: 100%;
}


.modal-body ul li .date_holder {
    font-size: 13px;
    color: grey;
}

.modal-body ul li .menu-icon-select {
    color: #dd4b39;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hiddenMenu {
    display: none;
}

.visibleMenu {
    display: block;
}

.modal-button {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #202020; 
    text-decoration: none;
    text-align: center;
    transition-property: box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-left: 10px;
}

.modal-button:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.modal-button {
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #202020; 
    text-decoration: none;
    text-align: center;
    transition-property: box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-left: 10px;
}

.modal-button:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.modal-button-red {
    color: #fff;
    background-color: #db4c3f;
    text-shadow: none;
    border: 1px solid transparent;
}

.modal-button:disabled {
    opacity: .3;
}

.modal .form-field {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.modal .form-field label {
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin: 0 0 7px;
}

.modal .form-field input {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    transition-property: box-shadow,border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.modal .form-field input:focus {
    border: 1px solid grey;
}

.modal-header {
    position: relative;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ddd;
    flex-grow: 1;
}

.modal-header h4 {
    font-size: 16px;
    font-weight: 700;
}

.priority_0 {
    color: grey;
}

.priority_1 {
    color: #246fe0;
}

.priority_2 {
    color: #eb8909;
}

.priority_3 {
    color: #d1453b;
}