<div class="modal"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{editMode ? "Edit" : "Add"}} Project</h4>
        <i class="fa fa-question fa-circle"></i>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="addProjForm">
            <div class="form-field">
                <label for="projectName">Name</label>
                <input class="form-control mr-sm-2" placeholder="" id="name" formControlName="name">
            </div>

            <div class="form-field">
                <label for="projectColor">Color</label>
                <input class="form-control mr-sm-2" placeholder="" id="color" formControlName="color">
            </div>

            <div class="form-field-inline">
                <div class="switch" [class.switch-checked]="projectFav" (click)="switchProjectFav()">
                    <span class="switch-handle"></span>
                </div>
                <label>
                    Add to favorites
                </label>
            </div>
        </form>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" 
                (click)="closeProjectModal()">
          Cancel
        </button>
        <button type="button" class="modal-button modal-button-red" 
                (click)="addProjectModal()" [disabled]="addProjForm.invalid">
        {{editMode ? "Save" : "Add"}}
        </button>
      </div>
    </div>
  </div>
</div>