<div class="container">
    <h2>Login</h2>
    <form id="form">
        <div>
            <label for="email">Login</label>
        </div>
        <input class="email" type="email" name="email" type="email" />

        <div class="password">
            Password
        </div>
        <input class="email" type="password" name="password" type="password" />
    </form>
    <button class="btn" id="loginbtn">Login</button>
    <div id="warning"></div>

    <div class="seprator">
    </div>
    <div class="login">
        Don't have an account? <a class="link" href="#">Signup</a>
    </div>
</div>