<div class="expansion_panel">
    <div class="expansion_panel__header" style="top: 372px;">
        <button type="button" class="expansion_panel__toggle" (click)="switchProjectCollapse()">
            <div class="expansion_panel__toggle_icon">
                <i class="fa mx-2 text-muted fa-chevron-right"  [class.rotated]="!tree.projectCollapsed"></i>
            </div>
            Projects
        </button>
        <div class="expansion_panel__actions">
			<button type="button" class="adder_icon" (click)="toArchive()">
                <i class="fa fa-archive"></i>
            </button>
            <button type="button" class="adder_icon" (click)="openProjectModal()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="projects" *ngIf="!tree.projectCollapsed" @collapse>
        <div class="projects_list_container">
            <ul class="items generic_left_list projects_list">
                <li *ngIf="draggedId" [dndDropzone]="['project']" (dndDrop)="onDropFirst($event)" class="drag-zone drag_list_item"  [dndDropzone]="['project']"></li>
                <ng-container *ngFor="let project of tree.getProjects(); let i = index">
                    <li class="project_list_item" [class.hiddenProject]="isParentCollapsed(project.parentList) || isParentDragged(project.parentList)" 
                        [dndDraggable]="project.id" (dndStart)="onDragStart(project.id)" (dndEnd)="onDragEnd()"  
                        [dndDropzone]="['task']" (dndDrop)="onDropTask($event, project)"  dndType="project">
                        <span class="indent" *ngFor="let e of [].constructor(project.indent)"></span>
                        <span class="left_actions">
                            <button type="button" class="handle" dndHandle>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                            <button type="button" class="arrow" *ngIf="project.hasChildren" (click)="collapseElem(project.id)">
                                <i class="fa fa-chevron-right" [class.rotated]="!isElemCollapsed(project.id)"></i>
                            </button>
                        </span>
                        <button class="text" (click)="toProject(project.id)">
                            <div class="div-color" [style]="'color: ' + project.color +';'"></div>
                            <span class="project-name">{{project.name}}</span>
                            <div class="counter_count">{{tree.getNumOfUncompletedTasksByProject(project.id)}}</div>
                        </button>
                        
                        <button type="button" #contextMenuButton class="icon_more" (click)="openContextProjectMenu($event, project.id)">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                    </li>
                    <li *ngIf="draggedId && !hideDropZone(project)" class="drag_list_item" [dndDropzone]="['project']"> <!-- [dndDisableDropIf]="true">-->
                        <ng-container *ngIf="calculateAdditionalDropzones(i, project); else noAdditionalDropzones">
                            <span class="indent" *ngFor="let e of [].constructor(getAmountOfNormalDropzones(i, project))"></span>
                            <span class="indent drag-zone" *ngFor="let e of getListForDropzones(i, project)" [dndDropzone]="['project']" (dndDrop)="onDrop($event, e)"></span>
                            <span class="indent drag-zone" [dndDropzone]="['project']" (dndDrop)="onDrop($event, project)"></span>
                        </ng-container>
                        <ng-template #noAdditionalDropzones>
                            <span class="indent" *ngFor="let e of [].constructor(project.hasChildren && !project.collapsed ? project.indent+1 : project.indent)"></span>
                            <span class="indent drag-zone" [dndDropzone]="['project']" (dndDrop)="onDrop($event, project)" *ngIf="!project.hasChildren || project.collapsed"></span>
                        </ng-template>
                        <span [dndDropzone]="['project']" (dndDrop)="onDrop($event, project, true)" class="drag-zone last-drag-zone"></span>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>

<app-context-menu *ngIf="showContextProjectMenu" [elems]="contextMenu" [x]="projectContextMenuX" [y]="projectContextMenuY" (closeEvent)="closeContextProjectMenu()" (actionEvent)="closeContextMenu($event)"></app-context-menu>
