<ul class="invitations">
    <li *ngFor="let invitation of invitations">
        <i class="fa fa-eye"></i>
        <i class="fa fa-pencil" *ngIf="invitation.editionAllowed"></i>
        <i class="fa fa-check" *ngIf="invitation.taskCompletionAllowed"></i>
        <b>{{ invitation.project.name }}</b> 
        by <i>{{ invitation.project.owner.username }}</i>
        <button class="option-button" (click)="accept(invitation.id)">
            <i class="fa fa-check"></i>
            Accept
        </button>
    </li>
</ul>