
<div class="tasks_content" *ngIf="project || inbox">
    <ul class="task_list_items">
        <li *ngIf="draggedId" [dndDropzone]="['task']" (dndDrop)="onDropFirst($event)" class="drag-zone drag_list_item">

        </li>
        <ng-container *ngFor="let task of tasks; let i = index">
            <li *ngIf="shouldAddTaskAboveById(task.id)" class="task_list_item">
                <span class="indent" *ngFor="let e of [].constructor(task.indent)"></span>
                <app-task-form [project]="project" [data]="taskData" (closeEvent)="closeEditTaskForm()" class="task_list_item_main"></app-task-form>
            </li>
            <li *ngIf="!shouldEditTaskById(task.id)" class="task_list_item" [id] = "'task-' + task.id" [class.completed]="task.completed"
                [class.hiddenTask]="isParentCollapsed(task.parentList) || isParentDragged(task.parentList)"
                [dndDraggable]="task.id" (dndStart)="onDragStart(task.id)" (dndEnd)="onDragEnd()" dndType="task">
                <span class="indent" *ngFor="let e of [].constructor(task.indent)"></span>
                <div class="task_list_item_main">
                    <div role="button" tabindex="0" class="task_list_item_body">
                        <div class="task_list_item__overflow_actions">
                            <span class="handle" dndHandle>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                            <button type="button" class="arrow" *ngIf="task.hasChildren"  (click)="collapseElem(task.id)">
                                <i class="fa fa-chevron-right" [class.rotated]="!isElemCollapsed(task.id)"></i>
                            </button>
                        </div>
                        <button type="button" role="checkbox" class="task_checkbox" [ngClass]="'priority_' + task.priority" (click)="completeTask(task.id)">
                            <div class="task_checkbox_circle">
                                <span class="icon_check">
                                    <i class="fa fa-check"></i>
                                </span>
                            </div>
                        </button>
                        <div class="task_list_item_content">
                            <div [id]="'task-' + task.id + '-content'" class="task_list_item__content_wrapper">
                                <div class="markdown_content task_content" (click)="openTaskView(task)">
                                    <span markdown class="markdown_text" [data]='task.title'></span>
                                </div>
                                <div class="markdown_content task_description" *ngIf="task.description">
                                    <span markdown class="markdown_text" [data]='task.description'></span>
                                </div>
                            </div>
                            <div class="task_list_item__info_tags" data-layout="list">
                                <a *ngIf="task.hasChildren" class="task_list_item__info_tags__subtasks" href="/app/project/2255406154/task/4496282067">
                                    <i class="fa fa-folder"></i>
                                    <span>{{getNumOfCompletedTasksByParent(task.id)}}/{{getNumOfTasksByParent(task.id)}}</span>
                                </a>
                                <span class="assigned_controls" *ngIf="project && project.collaborative && task.assigned">
                                    <i class="fa fa-user"></i>
                                    {{ task.assigned.username }}
                                </span>
                                <app-date-label [date]="task.due" [timeboxed]="task.timeboxed" *ngIf="task.due && !task.completed"></app-date-label>
                                <span *ngFor="let label of getTaskLabels(task)" class="task_list_item__info_tags__label" [style]="'color: ' + label.color + ';'">
                                    <span>{{label.name}}</span>
                                </span>
                            </div>
                        </div>
                        <div class="task_list_item_right">
                            <div class="task_list_item__actions task_list_item__actions--active">
                                <ng-container *ngIf="!blocked">
                                    <button class="desktop-btn" type="button" (click)="openEditTaskForm(task)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="desktop-btn" type="button" (click)="openSelectDateModal(task)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                    <a class="task_list_item__comments_link desktop-btn">
                                        <i class="fa fa-comment-o"></i>
                                    </a>
                                </ng-container>
                                <button type="button" (click)="openContextTaskMenu($event, task.id)">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                            </div>

                            <span class="task_list_item__project" *ngIf="task.project && project">
                                <a [href]="'/project/' + task.project.id + '#task-' + task.id">
                                    <span class="task_list_item__project__label">{{task.project.name}}</span>
                                    <svg width="12" height="12" viewBox="0 0 12 12" class="project_icon" [style]="'color: ' + project.color + ';'"><circle cx="6" cy="6" r="4" fill="currentColor"></circle></svg>
                                </a>
                            </span>
                            <span class="task_list_item__project" *ngIf="inbox && !project">
                                <a >
                                    <span class="task_list_item__project__label">Inbox</span>
                                    <span class="project_icon" style="color: blue">
                                        <i class="fa text-primary mr-2 fa-inbox"></i>
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </li>
            <li *ngIf="shouldEditTaskById(task.id)" class="task_list_item">
                <span class="indent" *ngFor="let e of [].constructor(task.indent)"></span>
                <app-task-form [project]="project" [data]="taskData" (closeEvent)="closeEditTaskForm()" class="task_list_item_main"></app-task-form>
            </li>
            <li *ngIf="draggedId && !hideDropZone(task)" class="drag_list_item" [dndDropzone]="['task']"> <!-- [dndDisableDropIf]="true">-->
                <ng-container *ngIf="calculateAdditionalDropzones(i, task); else noAdditionalDropzones">
                    <span class="indent" *ngFor="let e of [].constructor(getAmountOfNormalDropzones(i, task))"></span>
                    <span class="indent drag-zone" *ngFor="let e of getListForDropzones(i, task)" [dndDropzone]="['task']" (dndDrop)="onDrop($event, e)"></span>
                    <span class="indent drag-zone" [dndDropzone]="['task']" (dndDrop)="onDrop($event, task)"></span>
                </ng-container>
                <ng-template #noAdditionalDropzones>
                    <span class="indent" *ngFor="let e of [].constructor(task.hasChildren && !task.collapsed ? task.indent+1 : task.indent)"></span>
                    <span class="indent drag-zone" [dndDropzone]="['task']" (dndDrop)="onDrop($event, task)" *ngIf="!task.hasChildren || task.collapsed"></span>
                </ng-template>
                <span [dndDropzone]="['task']" (dndDrop)="onDrop($event, task, true)" class="drag-zone last-drag-zone"></span>
            </li>
            <li *ngIf="shouldAddTaskBelowById(task.id)" class="task_list_item">
                <span class="indent" *ngFor="let e of [].constructor(task.indent)"></span>
                <app-task-form [project]="project" [data]="taskData" (closeEvent)="closeEditTaskForm()" class="task_list_item_main"></app-task-form>
            </li>
        </ng-container>

        <li *ngIf="!blocked">
            <button type="button" class="plus_add_button" *ngIf="!showAddTaskForm" (click)="openAddTaskForm()">
                <span class="icon_add">
                    <i class="fa fa-plus"></i>
                </span>
                Add task
            </button>

            <app-task-form *ngIf="showAddTaskForm" [project]="project" (closeEvent)="closeAddTaskForm()"></app-task-form>

        </li>
    </ul>
</div>

<app-context-menu *ngIf="showContextTaskMenu" [elems]="contextMenu" [x]="taskContextMenuX" [y]="taskContextMenuY" (closeEvent)="closeContextTaskMenu()" (actionEvent)="closeContextMenu($event)"></app-context-menu>

<app-date-dialog *ngIf="showSelectDateModal" [taskDate]="dateForDateModal" (closeEvent)="closeSelectDateModal($event)" (cancelEvent)="cancelDateSelection()"></app-date-dialog>
<app-project-choice-dialog *ngIf="showSelectProjectModal" [project]="projectForProjectModal" (closeEvent)="closeSelectProjectModal($event)" (cancelEvent)="cancelProjectSelection()"></app-project-choice-dialog>
<app-priority-modal *ngIf="showSelectPriorityModal" [priority]="priorityForPriorityModal" (closeEvent)="closeSelectPriorityModal($event)" (cancelEvent)="cancelPrioritySelection()"></app-priority-modal>
<app-assign-modal *ngIf="project && showAssignModal" [projectId]="project.id"  (closeEvent)="assign($event)" (cancelEvent)="closeAssignModal()"></app-assign-modal>

<app-task-view *ngIf="openTask" [task]="openTask" (closeEvent)="closeTaskView()"></app-task-view>