<div class="panel"  role="tabpanel" >


    <div class="tasks_content" *ngIf="parent || list">
        <ul class="task_list_items">

            <li *ngIf="parent && draggedId" [dndDropzone]="['task-date']" (dndDrop)="onDrop($event, parent, true)" class="drag-zone drag_list_item">

            </li>
            <ng-container *ngFor="let task of tasks">
                <li *ngIf="!shouldEditTaskById(task.id)" class="task_list_item" [id] = "'task-' + task.id" [class.completed]="task.completed"
                    [dndDraggable]="task.id" (dndStart)="onDragStart(task.id)" (dndEnd)="onDragEnd()" dndType="task-date">
                    <div class="task_list_item_main">
                        <div role="button" tabindex="0" class="task_list_item_body">
                            <div class="task_list_item__overflow_actions" *ngIf="!list">
                                <span class="handle" dndHandle>
                                    <i class="fa fa-ellipsis-v"></i>
                                    <i class="fa fa-ellipsis-v"></i>
                                </span>
                            </div>
                            <button type="button" role="checkbox" class="task_checkbox" [ngClass]="'priority_' + task.priority" (click)="completeTask(task.id)">
                                <div class="task_checkbox_circle">
                                    <span class="icon_check">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>
                            </button>
                            <div class="task_list_item_content">
                                <div [id]="'task-' + task.id + '-content'" class="task_list_item__content_wrapper">
                                    <div class="markdown_content task_content">
                                        {{task.title}}
                                    </div>
                                    <div class="markdown_content task_description" *ngIf="task.description">
                                        {{task.description}} 
                                    </div>
                                </div>
                                <div class="task_list_item__info_tags" data-layout="list">
                                    <a *ngIf="task.hasChildren" class="task_list_item__info_tags__subtasks" href="/app/project/2255406154/task/4496282067">
                                        <i class="fa fa-folder"></i>
                                        <span>{{getNumOfCompletedTasksByParent(task.id)}}/{{getNumOfTasksByParent(task.id)}}</span>
                                    </a>
                                    <span class="assigned_controls" *ngIf="task.assigned">
                                        <i class="fa fa-user"></i>
                                        {{ task.assigned.username }}
                                    </span>
                                    <button *ngIf="task.due && !task.completed" type="button" class="due_date_controls">
                                        <span class="date">
                                            <i class="fa fa-calendar-o"></i>
                                            <span>Today</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="task_list_item_right">
                                <div class="task_list_item__actions task_list_item__actions--active">
                                    <button class="desktop-btn" type="button" (click)="openEditTaskForm(task)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="desktop-btn" type="button" (click)="openSelectDateModal(task)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                    <a class="task_list_item__comments_link desktop-btn">
                                        <i class="fa fa-comment-o"></i>
                                    </a>
                                    <button type="button" (click)="openContextTaskMenu($event, task.id)">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                </div>
                                    
                                <span class="task_list_item__project" *ngIf="task.project">
                                    <a [href]="'/collab/' + task.project.id + '#task-' + task.id">
                                        <span class="task_list_item__project__label">{{task.project.name}}</span>
                                        <svg width="12" height="12" viewBox="0 0 12 12" class="project_icon" [style]="'color: ' + getProjectColor(task.project.id) + ';'"><circle cx="6" cy="6" r="4" fill="currentColor"></circle></svg>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li *ngIf="shouldEditTaskById(task.id)" class="task_list_item">
                    <app-task-form [data]="taskData" [collab]="true" (closeEvent)="closeEditTaskForm()" class="task_list_item_main"></app-task-form>
                </li>
                <li *ngIf="draggedId" [dndDropzone]="['task-date']" (dndDrop)="onDrop($event, task)" class="drag-zone drag_list_item"></li>
            </ng-container>

            <li *ngIf="parent">
                <button type="button" class="plus_add_button" *ngIf="!showAddTaskForm" (click)="openAddTaskForm()">
                    <span class="icon_add">
                        <i class="fa fa-plus"></i>
                    </span>
                    Add task
                </button>

                <app-task-form *ngIf="showAddTaskForm" [collab]="true" [data]="newTaskData" [project]="project" (closeEvent)="closeAddTaskForm()"></app-task-form>

            </li>

        </ul>
    </div>

</div>

<div class="ist-menu context" [class.hidden-context-menu]="!showContextTaskMenu" [ngStyle]="{'left.px': taskContextMenuX, 'top.px': taskContextMenuY}">
	<ul class="context-menu-project" #taskContext>
        <li class="context-menu-project-item">
			<button (click)="openEditTaskFromContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-edit"></i>
				</span>
				<div class="menu_label">Edit task</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)=toProject()>
				<span class="menu_icon">
					<i class="fa fa-list"></i>
				</span>
				<div class="menu_label">Go to project</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectDateModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-calendar-minus-o"></i>
				</span>
				<div class="menu_label">Schedule</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectPriorityModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-flag-o"></i>
				</span>
				<div class="menu_label">Priority</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)=askForDelete()>
				<span class="menu_icon">
					<i class="fa fa-trash-o"></i>
				</span>
				<div class="menu_label">Delete task</div>
			</button>
		</li>
	</ul>
</div>

<app-date-dialog *ngIf="showSelectDateModal" [taskDate]="dateForDateModal" (closeEvent)="closeSelectDateModal($event)" (cancelEvent)="cancelDateSelection()"></app-date-dialog>
<app-priority-modal *ngIf="showSelectPriorityModal" [priority]="priorityForPriorityModal" (closeEvent)="closeSelectPriorityModal($event)" (cancelEvent)="cancelPrioritySelection()"></app-priority-modal>