<div class="panel"  role="tabpanel" *ngIf="label">

    <header class="view_header">
        <div class="header_content">
            <h1>
                <span class="simple_content">{{label.name}}</span>
            </h1>
            <div class="header_actions">
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-sort"></i>
                    </span>
                    <span class="action_label">Sort</span>
                </button>
            </div>
        </div>
    </header>

    <div class="tasks_content">
        <ul class="task_list_items">
            <ng-container *ngFor="let task of tasks">
                <li *ngIf="!shouldEditTaskById(task.id)" class="task_list_item" [id] = "'task-' + task.id" [class.completed]="task.completed">
                    <div class="task_list_item_main">
                        <div role="button" tabindex="0" class="task_list_item_body">
                            <button type="button" role="checkbox" class="task_checkbox" [ngClass]="'priority_' + task.priority" (click)="completeTask(task.id)">
                                <div class="task_checkbox_circle">
                                    <span class="icon_check">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </div>
                            </button>
                            <div class="task_list_item_content">
                                <div [id]="'task-' + task.id + '-content'" class="task_list_item__content_wrapper">
                                    <div class="markdown_content task_content">
                                        {{task.title}}
                                    </div>
                                    <div class="markdown_content task_description" *ngIf="task.description">
                                        {{task.description}} 
                                    </div>
                                </div>
                                <div class="task_list_item__info_tags" data-layout="list">
                                    <a *ngIf="task.hasChildren" class="task_list_item__info_tags__subtasks" href="/app/project/2255406154/task/4496282067">
                                        <i class="fa fa-folder"></i>
                                        <span>{{getNumOfCompletedTasksByParent(task.id)}}/{{getNumOfTasksByParent(task.id)}}</span>
                                    </a>
                                    <app-date-label [date]="task.due" [timeboxed]="task.timeboxed" *ngIf="task.due && !task.completed"></app-date-label>
                                    <span *ngFor="let label of getTaskLabels(task)" class="task_list_item__info_tags__label" [style]="'color: ' + label.color + ';'">
                                        <span>{{label.name}}</span>
                                    </span>
                                    
                                    <span class="task_list_item__project" *ngIf="task.project">
                                        <a [href]="'/project/' + task.project.id + '#task-' + task.id">
                                            <span class="task_list_item__project__label">{{task.project.name}}</span>
                                            <svg width="12" height="12" viewBox="0 0 12 12" class="project_icon" [style]="'color: ' + getProjectColor(task.project.id) + ';'"><circle cx="6" cy="6" r="4" fill="currentColor"></circle></svg>
                                        </a>
                                    </span>
                                    <span class="task_list_item__project" *ngIf="!task.project">
                                        <a >
                                            <span class="task_list_item__project__label">Inbox</span>
                                            <span class="project_icon" style="color: blue">
                                                <i class="fa text-primary mr-2 fa-inbox"></i>
                                            </span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="task_list_item__actions task_list_item__actions--active">
                                <button type="button" (click)="openEditTaskForm(task)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" (click)="openSelectDateModal(task)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                                <a class="task_list_item__comments_link">
                                    <i class="fa fa-comment-o"></i>
                                </a>
                                <button type="button" (click)="openContextTaskMenu($event, task.id)">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
                <li *ngIf="shouldEditTaskById(task.id)" class="task_list_item">
                    <app-task-form [data]="taskData" (closeEvent)="closeEditTaskForm()" class="task_list_item_main"></app-task-form>
                </li>
            </ng-container>

            <li>
                <button type="button" class="plus_add_button" *ngIf="!showAddTaskForm" (click)="openAddTaskForm()">
                    <span class="icon_add">
                        <i class="fa fa-plus"></i>
                    </span>
                    Add task
                </button>

                <app-task-form *ngIf="showAddTaskForm" (closeEvent)="closeAddTaskForm()"></app-task-form>

            </li>

        </ul>
    </div>

</div>

<div class="ist-menu context" [class.hidden-context-menu]="!showContextTaskMenu" [ngStyle]="{'left.px': taskContextMenuX, 'top.px': taskContextMenuY}">
	<ul class="context-menu-project" #taskContext>
        <li class="context-menu-project-item">
			<button (click)="openEditTaskFromContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-edit"></i>
				</span>
				<div class="menu_label">Edit task</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)=toProject()>
				<span class="menu_icon">
					<i class="fa fa-list"></i>
				</span>
				<div class="menu_label">Go to project</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectProjectModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-arrow-right"></i>
				</span>
				<div class="menu_label">Move to project</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectDateModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-calendar-minus-o"></i>
				</span>
				<div class="menu_label">Schedule</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectPriorityModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-flag-o"></i>
				</span>
				<div class="menu_label">Priority</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button >
				<span class="menu_icon">
					<i class="fa fa-clone"></i>
				</span>
				<div class="menu_label">Duplicate</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)=askForDelete()>
				<span class="menu_icon">
					<i class="fa fa-trash-o"></i>
				</span>
				<div class="menu_label">Delete task</div>
			</button>
		</li>
	</ul>
</div>

<app-date-dialog *ngIf="showSelectDateModal" [taskDate]="dateForDateModal" (closeEvent)="closeSelectDateModal($event)" (cancelEvent)="cancelDateSelection()"></app-date-dialog>
<app-project-choice-dialog *ngIf="showSelectProjectModal" [project]="projectForProjectModal" (closeEvent)="closeSelectProjectModal($event)" (cancelEvent)="cancelProjectSelection()"></app-project-choice-dialog>
<app-priority-modal *ngIf="showSelectPriorityModal" [priority]="priorityForPriorityModal" (closeEvent)="closeSelectPriorityModal($event)" (cancelEvent)="cancelPrioritySelection()"></app-priority-modal>