<ul class="top_filters">
    <li class="filter" id="filter_inbox">
        <button class="filter_button" (click)="toInbox()">
            <span class="item_icon">
                <i class="fa text-primary mr-2 fa-inbox"></i>
            </span>
            <span class="item_content">
                Inbox
                <small class="item_counter">{{ tree.getNumOfUncompletedTasksInInbox() }}</small>
            </span>
        </button>
    </li>
    <li class="filter" id="filter_today">
        <button class="filter_button" (click)="toHome()">
            <span class="item_icon">
                <i class="fa mr-2 text-success fa-calendar-minus-o"></i>
            </span>
            <span class="item_content">
                Today
                <small class="item_counter">{{ tree.getNumOfUncompletedTasksToday() }}</small>
            </span>
        </button>
    </li>
    <li class="filter" id="filter_today">
        <button class="filter_button" (click)="toUpcoming()">
            <span class="item_icon">
                <i class="fa text-warning mr-2 fa-calendar"></i>
            </span>
            <span class="item_content">
                Upcoming
            </span>
        </button>
    </li>
</ul>


<app-project-list (addProject)="openProjectModal($event)" (navEvent)="mobileNav()" (hideScroll)="switchScroll($event, 0)"></app-project-list>
<app-label-list (addLabel)="openLabelModal($event)" (navEvent)="mobileNav()" (hideScroll)="switchScroll($event, 1)"></app-label-list>
<app-filter-list (addFilter)="openFilterModal($event)" (navEvent)="mobileNav()" (hideScroll)="switchScroll($event, 2)"></app-filter-list>
<app-collab-project-list *ngIf="tree.hasCollabs()" (navEvent)="mobileNav()" (hideScroll)="switchScroll($event, 3)"></app-collab-project-list>
