<div class="modal modal-background"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{editMode ? "Edit" : "Add"}} Label</h4>
        <i class="fa fa-question fa-circle"></i>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="addLabelForm">
            <div class="form-field">
                <label for="labelName">Name</label>
                <input class="form-control mr-sm-2" placeholder="" id="name" formControlName="name">
            </div>

            <div class="form-field">
                <label for="labelColor">Color</label>
                <input class="form-control mr-sm-2" placeholder="" id="color" formControlName="color">
            </div>
        </form>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" 
                (click)="closeLabelModal()">
          Cancel
        </button>
        <button type="button" class="modal-button modal-button-red" 
                (click)="addLabelModal()" [disabled]="addLabelForm.invalid">
        {{editMode ? "Save" : "Add"}}
        </button>
      </div>
    </div>
  </div>
</div>