<div *ngIf="taskForm" class="taskFormContainer">
    <form class="taskForm" [formGroup]="taskForm">
        <div class="taskFormInputsHolder">
            <input autofocus placeholder="Task name" formControlName="title">
            <textarea placeholder="Description" formControlName="description"></textarea>
        </div> 
        <div class="taskFormExtra">
            <div class="taskFormExtraFields">
                <button type="button" class="taskFormExtraButton" (click)="openSelectDateMenu()">
                    <div class="taskFormExtraIcon">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <span class="taskFormExtraText" *ngIf="!taskDate">Schedule</span>
                    <ng-container *ngIf="taskDate">
                        <ng-container *ngIf="dateWithinWeek(taskDate)">
                            <span class="taskFormExtraText" *ngIf="isToday(taskDate)">Today</span>
                            <span class="taskFormExtraText" *ngIf="isTomorrow(taskDate)">Tomorrow</span>
                            <span class="taskFormExtraText" *ngIf="!isToday(taskDate) && !isTomorrow(taskDate)">{{taskDate | date: 'EEEE'}}</span>
                        </ng-container>
                        <ng-container *ngIf="!dateWithinWeek(taskDate)">
                            <span class="taskFormExtraText" *ngIf="thisYear(taskDate)">{{taskDate | date: 'dd MMM'}}</span>
                            <span class="taskFormExtraText" *ngIf="!thisYear(taskDate)">{{taskDate| date: 'dd MMM yyyy'}}</span>
                        </ng-container>
                        <ng-container *ngIf="taskTimeboxed">
                            {{taskDate | date: ' HH:mm'}}
                        </ng-container>
                    </ng-container>
                </button>
                <button type="button" class="taskFormExtraButton" (click)="openSelectProjectMenu()">
                    <div *ngIf="project">
                        <div class="taskFormExtraColor" [style]="'color: ' + project.color +';'"></div>
                        <span class="taskFormExtraText">{{project.name}}</span>
                    </div>
                    <div *ngIf="!project">
                        <span class="taskFormInbox">
                            <i class="fa text-primary mr-2 fa-inbox"></i>
                        </span>
                        <span class="taskFormExtraText">Inbox</span>
                    </div>
                </button>
            </div>
            <div class="taskFormExtraActions">
                <button type="button" class="itemAction" (click)="openSelectLabelsMenu()">
                    <i class="fa fa-tag"></i>
                </button>
                <button type="button" class="itemAction" (click)="openSelectPriorityMenu()">
                    <i class="fa fa-flag" [ngClass]="'priority_' + priority"></i>
                </button>
                <button type="button" class="itemAction">
                    <i class="fa fa-clock-o"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="taskFormButtons">
        <button type="button" class="taskFormButton taskFormButtonRed" [disabled]="taskForm.invalid" (click)="save()">
            {{task ? "Save" : "Add task"}}
        </button> 
        <button type="button" class="taskFormButton" (click)="closeForm()">
            Cancel
        </button>
    </div> 
</div>


<!-- Modal window for selecting project -->



<app-date-dialog *ngIf="showSelectDateMenu" [taskDate]="taskDate" (closeEvent)="closeSelectDateMenu($event)" (cancelEvent)="cancelDateSelection()"></app-date-dialog>
<app-project-choice-dialog *ngIf="showSelectProjectMenu" [project]="project" (closeEvent)="chooseProject($event)" (cancelEvent)="closeSelectProjectMenu()"></app-project-choice-dialog>
<app-label-choice-dialog *ngIf="showSelectLabelsMenu" [labels]="labels" (closeEvent)="chooseLabel($event)" (cancelEvent)="closeSelectLabelsMenu()"></app-label-choice-dialog>
<app-priority-modal *ngIf="showSelectPriorityMenu" [priority]="priorityForModal" (closeEvent)="choosePriority($event)" (cancelEvent)="closeSelectPriorityMenu()"></app-priority-modal>
