<div *ngIf="taskForm" class="taskFormContainer">
    <form class="taskForm" [formGroup]="taskForm">
        <div class="taskFormInputsHolder">
            <input placeholder="Task name" formControlName="title">
            <textarea placeholder="Description" formControlName="description"></textarea>
        </div> 
        <div class="taskFormExtra">
            <div class="taskFormExtraFields">
                <button type="button" class="taskFormExtraButton" (click)="openSelectDateMenu()">
                    <div class="taskFormExtraIcon">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <span class="taskFormExtraText" *ngIf="!taskDate">Schedule</span>
                    <ng-container *ngIf="taskDate">
                        <ng-container *ngIf="dateWithinWeek(taskDate)">
                            <span class="taskFormExtraText" *ngIf="isToday(taskDate)">Today</span>
                            <span class="taskFormExtraText" *ngIf="isTomorrow(taskDate)">Tomorrow</span>
                            <span class="taskFormExtraText" *ngIf="!isToday(taskDate) && !isTomorrow(taskDate)">{{taskDate | date: 'EEEE'}}</span>
                        </ng-container>
                        <ng-container *ngIf="!dateWithinWeek(taskDate)">
                            <span class="taskFormExtraText" *ngIf="thisYear(taskDate)">{{taskDate | date: 'dd MMM'}}</span>
                            <span class="taskFormExtraText" *ngIf="!thisYear(taskDate)">{{taskDate| date: 'dd MMM yyyy'}}</span>
                        </ng-container>
                    </ng-container>
                </button>
                <button type="button" class="taskFormExtraButton" (click)="openSelectProjectMenu()">
                    <div *ngIf="project">
                        <div class="taskFormExtraColor" [style]="'color: ' + project.color +';'"></div>
                        <span class="taskFormExtraText">{{project.name}}</span>
                    </div>
                    <div *ngIf="!project">
                        <span class="taskFormInbox">
                            <i class="fa text-primary mr-2 fa-inbox"></i>
                        </span>
                        <span class="taskFormExtraText">Inbox</span>
                    </div>
                </button>
            </div>
            <div class="taskFormExtraActions">
                <button type="button" class="itemAction">
                    <i class="fa fa-tag"></i>
                </button>
                <button type="button" class="itemAction">
                    <i class="fa fa-flag"></i>
                </button>
                <button type="button" class="itemAction">
                    <i class="fa fa-clock-o"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="taskFormButtons">
        <button type="button" class="taskFormButton taskFormButtonRed" [disabled]="taskForm.invalid" (click)="save()">
            {{task ? "Save" : "Add task"}}
        </button> 
        <button type="button" class="taskFormButton" (click)="closeForm()">
            Cancel
        </button>
    </div> 
</div>


<!-- Modal window for selecting project -->
<div class="modal"
  tabindex="-1"
  role="dialog"
  [class.hiddenMenu]="!showSelectProjectMenu"
  [class.visibleMenu]="showSelectProjectMenu">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Select project</h4>
        </div>
      <div class="modal-body">
        <form *ngIf="projectSelectForm" [formGroup]="projectSelectForm">
            <input formControlName="text" placeholder="Type a project"/>
        </form>
        <ul class="context-menu-project" #projectSelectMenu class="form-field">
            <li class="context-menu-project-item">
                <button type="button" (click)="chooseProject(undefined)">
                    <span class="menu-icon">
                        <i class="fa text-primary mr-2 fa-inbox"></i>
                    </span>
                    <span class="menu_label">Inbox</span>
                    <span class="menu-icon-select" *ngIf="!project">
                        <i class="fa fa-check"></i>
                    </span>
                </button>
            </li>
            <li class="context-menu-project-item" *ngFor="let projectSel of projects">
                <button type="button" (click)="chooseProject(projectSel)">
                    <div class="taskFormExtraColor" [style]="'color: ' + projectSel.color +';'"></div>
                    <span class="menu_label">{{projectSel.name}}</span>
                    <span class="menu-icon-select" *ngIf="project && projectSel.id == project.id">
                        <i class="fa fa-check"></i>
                    </span>
                </button>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" 
                (click)="closeSelectProjectMenu()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal window for selecting date -->
<div class="modal"
  tabindex="-1"
  role="dialog"
  [class.hiddenMenu]="!showSelectDateMenu"
  [class.visibleMenu]="showSelectDateMenu">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Select a date</h4>
        </div>
      <div class="modal-body">
        <form *ngIf="dateSelectForm" [formGroup]="dateSelectForm">
          <input type="date" formControlName="date">
        </form>
        <ul class="context-menu-project" #projectSelectMenu class="form-field">
            <li class="context-menu-project-item">
                <button type="button" (click)="chooseDate(today)">
                    <span class="menu-icon">
                        <i class="fa fa-calendar"></i>
                    </span>
                    <span class="menu_label">Today</span>
                    <span class="date_holder">{{today | date: 'EEE'}}</span>
                </button>
            </li>
            <li class="context-menu-project-item">
                <button type="button" (click)="chooseDate(tomorrow)">
                    <span class="menu-icon">
                        <i class="fa fa-sun-o"></i>
                    </span>
                    <span class="menu_label">Tomorrow</span>
                    <span class="date_holder">{{tomorrow | date: 'EEE'}}</span>
                </button>
            </li>
            <li class="context-menu-project-item">
                <button type="button" (click)="chooseDate(weekend)">
                    <span class="menu-icon">
                        <i class="fa fa-car"></i>
                    </span>
                    <span class="menu_label">This weekend</span>
                    <span class="date_holder">{{weekend | date: 'EEE'}}</span>
                </button>
            </li>
            <li class="context-menu-project-item">
                <button type="button" (click)="chooseDate(nextWeek)">
                    <span class="menu-icon">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    <span class="menu_label">Next week</span>
                    <span class="date_holder">{{nextWeek | date: 'EEE&nbsp;dd&nbsp;MMM'}}</span>
                </button>
            </li>
            <li class="context-menu-project-item">
                <button type="button" (click)="chooseDate(undefined)">
                    <span class="menu-icon">
                        <i class="fa fa-times-circle-o"></i>
                    </span>
                    <span class="menu_label">No date</span>
                    <span class="date_holder"></span>
                </button>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" 
                (click)="closeSelectDateMenu()">
          Cancel
        </button>
        <button type="button" class="modal-button modal-button-red" *ngIf="dateSelectForm"
                (click)="selectDateFromForm()" [disabled]="dateSelectForm.invalid">
            Select
        </button>
      </div>
    </div>
  </div>
</div>