<div>
    Your token: {{ token }} 
    <button class="option-button" (click)="newToken()">
        <i class="fa fa-refresh"></i>
        Regenerate
    </button>
</div>

<ul class="invitations">
    <li *ngFor="let invitation of invitations">
        <span class="permission">
            <i class="fa fa-eye"></i>
        </span>
        <span class="permission" *ngIf="invitation.editionAllowed">
            <i class="fa fa-pencil"></i>
        </span>
        <span class="permission" *ngIf="invitation.taskCompletionAllowed">
            <i class="fa fa-check"></i>
        </span>
        <span class="invitation">
            <b>{{ invitation.project.name }}</b> 
            by <i>{{ invitation.project.owner.username }}</i>
        </span>
        <button class="option-button" (click)="accept(invitation.id)">
            <i class="fa fa-check"></i>
            Accept
        </button>
    </li>
</ul>
