<div class="comment_list">
    <div class="comment" *ngFor="let comment of comments">
        <div class="note_meta">
            <span class="user_name">{{comment.owner.username}}</span>
            <span class="time">{{comment.createdAt | date: 'dd MMM hh:mm'}}</span>
            <div class="comments_actions">
                <button class="menu_icon" (click)="deleteComment(comment.id)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
        <div class="note_content">
            <span markdown class="markdown_text" [data]='comment.content'></span>
        </div>
    </div>
</div>




<div class="comments_textarea" *ngIf="commentForm">
    <form [formGroup]="commentForm">
        <textarea placeholder="Write a comment" formControlName="content"></textarea>
    </form>
    <div class="files_view"></div>
    <div class="textarea_buttons">    
        <div class="comments_textarea_submit">
            <button class="submit_button" (click)="sendComment()">
                Add Comment
            </button>
        </div>
    </div>
</div>