<div class="comment_list">
    <div class="comment" *ngFor="let comment of comments">
        <div class="note_meta">
            <span class="user_name">Andrzej</span>
            <span class="time">{{comment.createdAt | date: 'dd MMM hh:mm'}}20 Oct 14:40</span>
            <div class="comments_actions">
                <button class="menu_icon">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
        <div class="note_content">
            {{comment.content}}
        </div>
    </div>
</div>




<div class="comments_textarea">
    <textarea placeholder="Write a comment"></textarea>
    <div class="files_view"></div>
    <div class="textarea_buttons">    
        <div class="comments_textarea_submit">
            <button class="submit_button">
                Add Comment
            </button>
        </div>
    </div>
</div>