<div class="container">
    <h2>Register</h2>
    <form id="form">
        <div>
            <label for="email">Username</label>
        </div>
        <input class="email" type="email" name="username" type="email" />

        <div class="password">
            Password
        </div>
        <input class="email" type="password" name="password" type="password" />

        <div class="password">
            Repeat password
        </div>
        <input class="email" type="password" name="passwordRe" type="password" />
    </form>
    <button class="btn" id="loginbtn">Register</button>
    <div id="warning"></div>

    <div class="seprator">
    </div>
    <div class="login">
        Already signed up? <a class="link" href="#">Go to login</a>
    </div>
</div>