<button class="elem" [class.selected]="view == 0" (click)="chooseOption(0)">
    Account
</button>
<button class="elem" [class.selected]="view == 1" (click)="chooseOption(1)">
    General
</button>
<button class="elem" [class.selected]="view == 2" (click)="chooseOption(2)">
    Export
</button>
<app-settings-export *ngIf="view==2"></app-settings-export>
<button class="elem" [class.selected]="view == 3" (click)="chooseOption(3)">
    Import
</button>
<app-settings-import *ngIf="view==3"></app-settings-import>
<button class="elem" [class.selected]="view == 4" (click)="chooseOption(4)">
    Invitations
</button>
<app-settings-invitation *ngIf="view==4"></app-settings-invitation>