<div class="modal"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select priority</h4>
        <i class="fa fa-question fa-circle"></i>
      </div>
      <div class="modal-body">
        <ul class="context-menu-project" class="form-field">
            <li class="context-menu-project-item">
                <button type="button" (click)="choosePriority(0)">
                    <span class="menu-icon">
                        <i class="fa fa-flag priority_0"></i>
                    </span>
                    <span class="menu_label">No priority</span>
                </button>
            </li>
            <li class="context-menu-project-item">
                <button type="button" (click)="choosePriority(1)">
                    <span class="menu-icon">
                        <i class="fa fa-flag priority_1"></i>
                    </span>
                    <span class="menu_label">Low priority</span>
                </button>
            </li>
            <li class="context-menu-project-item">
                <button type="button" (click)="choosePriority(2)">
                    <span class="menu-icon">
                        <i class="fa fa-flag priority_2"></i>
                    </span>
                    <span class="menu_label">Medium priority</span>
                </button>
            </li>
            <li class="context-menu-project-item">
                <button type="button" (click)="choosePriority(3)">
                    <span class="menu-icon">
                        <i class="fa fa-flag priority_3"></i>
                    </span>
                    <span class="menu_label">High priority</span>
                </button>
            </li>
        </ul>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" 
                (click)="closeModal()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>