Export your projects and tasks.

<ul class="option-menu">
    <li>
        <button class="option-button option-button-red" (click)="exportProjectsAsCSV()">
            <i class="fa fa-file"></i>
            Export project list as CSV
        </button>
    </li>
    <li>
        <button class="option-button option-button-red" (click)="exportTasksAsCSV()">
            <i class="fa fa-file"></i>
            Export task list as CSV
        </button>
    </li>
    <li>
        <button class="option-button option-button-red" (click)="exportProjectsAsTXT()">
            <i class="fa fa-file"></i>
            Export project list as TODO.TXT
        </button>
    </li>
    <li>
        <button class="option-button option-button-red" (click)="exportTasksAsTXT()">
            <i class="fa fa-file"></i>
            Export task list as TODO.TXT
        </button>
    </li>
</ul>
