@import "../../common/css/project-view.css";

.option-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.option-menu li {
    display: flex;
    margin-bottom: 10px;
}

.option-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 12px 7px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    background: #f3f3f3;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #202020; 
    text-decoration: none;
    text-align: center;
    transition-property: box-shadow, border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.option-button:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.option-button-red {
    color: #fff;
    background-color: #db4c3f;
    text-shadow: none;
    border: 1px solid transparent;
}

.option-button:disabled {
    opacity: .3;
}