button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
}

.ist-menu {
    background-color: #fff;
    color: #333;
    border-collapse: separate;
    border-radius: 3px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.08);
    border: 1px solid #ddd;
    width: 250px;
    position: fixed;
    z-index: 999;
}

.ist-menu ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ist-menu ul li {
    display: flex;
}

.ist-menu ul li button{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.ist-menu ul li .menu_icon {
    color: grey;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ist-menu ul li .menu_label {
    font-size: 13px;
}

.hidden-context-menu {
    display: none;
}
