<div class="panel"  role="tabpanel" *ngIf="project">
    <header class="view_header">
        <div class="header_content">
            <h1 class="editable">
                <span class="simple_content" contenteditable="true">{{project.project.name}}</span>
            </h1>
            <div class="header_actions">
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-comment-o"></i>
                    </span>
                    <span class="action_label">Comments</span>
                </button>
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-sort"></i>
                    </span>
                    <span class="action_label">Sort</span>
                </button>
                <button type="button" class="sort_button" (click)="openContextMenu($event)">
                    <span class="icon_sort">
                        <i class ="fa fa-ellipsis-h"></i>
                    </span>
                </button>
            </div>
        </div>
    </header>

    <app-collab-task-list [collab]='project' [project]='collabAsProject'></app-collab-task-list>
</div>



<div class="ist-menu context" [class.hidden-context-menu]="!showContextMenu" [ngStyle]="{'left.px': contextMenuX, 'top.px': contextMenuY}">
	<ul class="context-menu-project" #taskContext>
        <li class="context-menu-project-item">
			<button (click)="unsubscribe()">
				<span class="menu_icon">
					<i class="fa fa-users"></i>
				</span>
				<div class="menu_label">Unsubscribe</div>
			</button>
		</li>
	</ul>
</div>