<div class="panel"  role="tabpanel" >

    <header class="view_header">
        <div class="header_content">
            <h1>
                <span class="simple_content">Today</span>
                <small>{{todayDate | date: 'EEE dd MMM'}}</small>
            </h1>
            <div class="header_actions">
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-sort"></i>
                    </span>
                    <span class="action_label">Sort</span>
                </button>
            </div>
        </div>
    </header>

    <div class="tasks_content">
        <ul class="task_list_items">

            <li class="task_list_item" *ngFor="let task of tasks" [id] = "'task-' + task.id">
                <div role="button" tabindex="0" class="task_list_item_body">
                    <div class="task_list_item__overflow_actions">
                        <div class="task_list_item__drag_container">
                            <span class="task_list_item__drag_handle item_dnd_handle" >
                                <i class="fa fa-ellipsis-v"></i>
                            </span>
                        </div>
                    </div>
                    <button type="button" role="checkbox" class="task_checkbox priority_1">
                        <div class="task_checkbox_circle">
                            <span class="icon_check">
                                <i class="fa fa-check"></i>
                            </span>
                        </div>
                    </button>
                    <div class="task_list_item_content">
                        <div [id]="'task-' + task.id + '-content'" class="task_list_item__content_wrapper">
                            <div class="markdown_content task_content">
                                {{task.title}}
                            </div>
                        </div>
                        <div class="task_list_item__info_tags" data-layout="list">
                            <span class="task_list_item__project">
                                <a [href]="'/project/' + task.project.id + '#task-' + task.id">
                                    <span class="task_list_item__project__label">{{task.project.name}}</span>
                                    <svg width="12" height="12" viewBox="0 0 12 12" class="project_icon" style="color: rgb(219, 64, 53);"><circle cx="6" cy="6" r="4" fill="currentColor"></circle></svg>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="task_list_item__actions task_list_item__actions--active">
                        <button type="button">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                        <a class="task_list_item__comments_link">
                            <i class="fa fa-comment-o"></i>
                        </a>
                        <button type="button">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    

    <button type="button" class="plus_add_button">
        <span class="icon_add">
            <i class="fa fa-plus"></i>
        </span>
        Add task
    </button>

</div>