
<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

    <header class="view_header">
        <div class="header_content">
            <h1>
                <span class="simple_content">Dziś</span>
                <small>Pon 6 wrz</small>
            </h1>
            <div class="header_actions">
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-sort"></i>
                    </span>
                    <span class="action_label">Sortuj</span>
                </button>
            </div>
        </div>
    </header>

    <p>
        <input type="radio" id="Task" value="Test">
        <label for="Task" style="margin-left: 10px;">Test</label>
    </p>

    <button type="button" class="plus_add_button">
        <span class="icon_add">
            <i class="fa fa-plus"></i>
        </span>
        Dodaj zadanie
    </button>

</div>
