<div class="modal"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog modal-shadow" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="tablist">
          <button class="tablist_elem" [class.selected]="view == 0" (click)="chooseTab(0)">
            Task
          </button>
          <button class="tablist_elem" [class.selected]="view == 1" (click)="chooseTab(1)">
            Habit
          </button>
      </div>

        <app-task-form (closeEvent)="closeAddTaskModal()" *ngIf="view == 0"></app-task-form>
        <app-habit-form (closeEvent)="closeAddTaskModal()" *ngIf="view == 1"></app-habit-form>
      </div>
    </div>
  </div>
</div>