<div class="expansion_panel">
    <div class="expansion_panel__header" style="top: 372px;">
        <button type="button" class="expansion_panel__toggle" (click)="switchCollapse()">
            <div class="expansion_panel__toggle_icon">
                <i class="fa mx-2 text-muted fa-chevron-right"  [class.rotated]="!tree.collapsed"></i>
            </div>
            Collaborative
        </button>
    </div>
    <div class="projects" *ngIf="!tree.collapsed" @collapse>
        <div class="projects_list_container">
            <ul class="items generic_left_list projects_list">
                <ng-container *ngFor="let project of tree.getProjects()">
                    <li class="project_list_item">
                        <span class="left_actions">
                        </span>
                        <button class="text" (click)="toProject(project.id)">
                            <div class="label-color" [style]="'color: ' + project.color +';'">
                                <i class="fa fa-flip-horizontal fa-users"></i>
                            </div>
                            <span class="project-name">{{project.name}}</span>
                            <div class="counter_count">{{treeService.getNumOfUncompletedTasksByCollabProject(project.id)}}</div>
                        </button>
                        
                        <button type="button" #contextMenuButton class="icon_more" (click)="openContextMenu($event, project)">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                    </li>

                </ng-container>
            </ul>
        </div>
    </div>
</div>

<app-context-menu *ngIf="showContextMenu" [elems]="contextMenu" [x]="contextMenuX" [y]="contextMenuY" (closeEvent)="closeContextProjectMenu()" (actionEvent)="closeContextMenu($event)"></app-context-menu>
