@import '../../common/css/modal.css';

.taskFormExtraColor {
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: currentColor;
	border-radius: 50%;
    margin-right: 8px;
    margin-left: 4px;
}