<div class="modal modal-background"
  tabindex="-1"
  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Assign User to Task</h4>
        <i class="fa fa-question fa-circle"></i>
      </div>
      <div class="collab-list">
        <ul>
          <li class="user-list">
              <button type="button" class="assign-btn" (click)="assignMyself()">
                      <i class="fa fa-me"></i>
                      Assign myself
              </button>
          </li>
          <li class="user-list" *ngFor="let collab of collaborators">
              <button class="assign-btn" type="button" (click)="assign(collab.owner)">
                      <i class="fa fa-user"></i>
                      Assign {{collab.owner.username}}
              </button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-button" 
                (click)="close()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>