<div class="expansion_panel">
    <div class="expansion_panel__header" style="top: 372px;">
        <button type="button" class="expansion_panel__toggle" (click)="switchFilterCollapse()">
            <div class="expansion_panel__toggle_icon">
                <i class="fa mx-2 text-muted fa-chevron-right"  [class.rotated]="!tree.filterCollapsed"></i>
            </div>
            Filters
        </button>
        <div class="expansion_panel__actions">
            <button type="button" class="adder_icon" (click)="openFilterModal()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="projects" *ngIf="!tree.filterCollapsed" @collapse>
        <div class="projects_list_container">
            <ul class="items generic_left_list projects_list">
				<li *ngIf="draggedId" [dndDropzone]="['filter']" (dndDrop)="onDropFirst($event)" class="drag-zone drag_list_item"></li>
                <ng-container *ngFor="let filter of tree.getFilters()">
                    <li class="project_list_item" [dndDraggable]="filter.id" (dndStart)="onDragStart(filter.id)" (dndEnd)="onDragEnd()"  
					dndType="filter">
                        <span class="left_actions">
                            <button type="button" class="handle" dndHandle>
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                            </button>
                        </span>
                        <button class="text" (click)="toFilter(filter.searchString)">
                            <div class="label-color" [style]="'color: ' + filter.color +';'">
                                <i class="fa fa-tint"></i>
                            </div>
                            <span class="project-name">{{filter.name}}</span>
                        </button>
                        
                        <button type="button" #contextMenuButton class="icon_more" (click)="openContextMenu($event, filter)">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                    </li>

					<li *ngIf="draggedId" [dndDropzone]="['filter']" (dndDrop)="onDrop($event, filter)" class="drag-zone drag_list_item"></li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>

<app-context-menu *ngIf="showContextMenu" [elems]="contextMenu" [x]="contextMenuX" [y]="contextMenuY" (closeEvent)="closeContextFilterMenu()" (actionEvent)="closeContextMenu($event)"></app-context-menu>
