<div class="panel"  role="tabpanel">
    <header class="view_header">
        <div class="header_content">
            <h1 class="editable">
                <span class="simple_content" contenteditable="true">Inbox</span>
            </h1>
            <div class="header_actions">
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-comment-o"></i>
                    </span>
                    <span class="action_label">Comments</span>
                </button>
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-sort"></i>
                    </span>
                    <span class="action_label">Sort</span>
                </button>
                <button type="button" class="sort_button">
                    <span class="icon_sort">
                        <i class ="fa fa-ellipsis-h"></i>
                    </span>
                </button>
            </div>
        </div>
    </header>

    <app-task-list [inbox]='true'></app-task-list>
    
</div>

<div class="ist-menu context" [class.hidden-context-menu]="!showContextTaskMenu" [ngStyle]="{'left.px': taskContextMenuX, 'top.px': taskContextMenuY}">
	<ul class="context-menu-project" #taskContext>
		<li class="context-menu-project-item">
			<button (click)="openEditTaskAbove()">
				<span class="menu_icon">
					<i class="fa fa-arrow-up"></i>
				</span>
				<div class="menu_label">Add task above</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openEditTaskBelow()">
				<span class="menu_icon">
					<i class="fa fa-arrow-down"></i>
				</span>
				<div class="menu_label">Add task below</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openEditTaskFromContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-edit"></i>
				</span>
				<div class="menu_label">Edit task</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectProjectModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-arrow-right"></i>
				</span>
				<div class="menu_label">Move to project</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectDateModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-calendar-minus-o"></i>
				</span>
				<div class="menu_label">Schedule</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)="openSelectPriorityModalFormContextMenu()">
				<span class="menu_icon">
					<i class="fa fa-flag-o"></i>
				</span>
				<div class="menu_label">Priority</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button >
				<span class="menu_icon">
					<i class="fa fa-clone"></i>
				</span>
				<div class="menu_label">Duplicate</div>
			</button>
		</li>
        <li class="context-menu-project-item">
			<button (click)=askForDelete()>
				<span class="menu_icon">
					<i class="fa fa-trash-o"></i>
				</span>
				<div class="menu_label">Delete task</div>
			</button>
		</li>
	</ul>
</div>

<app-date-dialog *ngIf="showSelectDateModal" [taskDate]="dateForDateModal" (closeEvent)="closeSelectDateModal($event)" (cancelEvent)="cancelDateSelection()"></app-date-dialog>
<app-project-choice-dialog *ngIf="showSelectProjectModal" [project]="projectForProjectModal" (closeEvent)="closeSelectProjectModal($event)" (cancelEvent)="cancelProjectSelection()"></app-project-choice-dialog>
<app-priority-modal *ngIf="showSelectPriorityModal" [priority]="priorityForPriorityModal" (closeEvent)="closeSelectPriorityModal($event)" (cancelEvent)="cancelPrioritySelection()"></app-priority-modal>