<div class="container">
    <h2>Login</h2>
    <form id="form" [formGroup]="form">
        <div>
            <label for="username">Login</label>
        </div>
        <input autofocus class="username" formControlName="username"/>

        <div class="password">
            <label for="password">Password</label>
        </div>
        <input class="password" formControlName="password" type="password" />
    </form>
    <button class="btn" (click)="logIn()">
        <span class="loading" *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
        Login
    </button>
    <div id="warning" *ngIf="invalid">
        Error: {{message}}
    </div>

    <div class="separator">
    </div>
    <div class="login">
        Don't have an account? <a class="link" (click)="toRegister()">Sign up</a>
    </div>
</div>